body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

.poll-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.poll-option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.poll-option label {
    flex: 1;
    font-size: 18px;
}

.poll-option input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.share-buttons {
    text-align: center;
    margin-top: 20px;
}

.share-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #1877F2;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.share-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.share-button:hover {
    background-color: #0b60d4;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 70%);
}

.whatsapp {
    background-color: #25D366;
}

.whatsapp:hover {
    background-color: #1bb94c;
}
